body {
    background-color: #B1AFFF;
}
hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
} 
h1 {
    color: darkslategray;
}
h3 {
    color: darkslategray;
}